HOST_DNS_ADDRESS	localhost
GLASSFISH_DIRECTORY	/usr/local/glassfish4
ADMIN_EMAIL	admin@admin.pl
MAIL_SERVER	smtp:1025
POSTGRES_ADMIN_PASSWORD	dataverse
POSTGRES_SERVER	postgres
POSTGRES_PORT	5432
POSTGRES_DATABASE	dataverse
POSTGRES_USER	dataverse
POSTGRES_PASSWORD	dataverse
SOLR_LOCATION	solr:8983
TWORAVENS_LOCATION	NOT INSTALLED
RSERVE_HOST	localhost
RSERVE_PORT	6311
RSERVE_USER	rserve
RSERVE_PASSWORD	rserve
